<h1>1. Basic Printing:</h1>
Write a Python script to print the phrase 'Hello, World!'.

In [2]:
print ('Hello, World!')

Hello, World!

*Print your first name.*

In [4]:
print ('Numan')

Numan

<h1>2. Printing Multiple Items:</h1>
Print your first name and last name in a single print statement.

In [6]:
print ('Numan Alvi')

Numan Alvi

*Print the numbers 1, 2, and 3 in a single print statement.*

In [8]:
print (1,2,3)
# Or We can print it like 
print('1 2 3')

1 2 3
1 2 3

<h1>3. Printing Special Characters:</h1>
Here we will use the concept of escape sequence <br>
Print a string that includes a newline character to display text on two lines.ld

In [10]:
print('Hello\nWorld')

Hello
World

*Print a string that includes a tab character.*

In [12]:
print('Hello\tWorld')

Hello	World

<h1>4. Using the sep Parameter:</h1>
Print three different words separated by commas. For example: 'apple, banana, cherry'.

In [14]:
print ("apple","banana","cherry",sep=',')

apple,banana,cherry

*Print three different numbers separated by hyphens. For example: '1-2-3'.*

In [16]:
print (1,2,3,sep='-')

1-2-3

<h1>5. Using the end Parameter:</h1>
Print two words on the same line with a space in between. For example: 'Hello World'.

In [18]:
print('Hello',end=' ')
print('World')

Hello World

*Print the numbers 1 and 2 on the same line without a space in between. For example: '12'.*

In [20]:
print(1,end='')
print(2)

12

<h1>6. Escape Characters:</h1>
Print a string that includes double quotes. For example: He said, "Hello!".

In [22]:
print('He said, "Hello!"')

He said, "Hello!"

*Print a backslash character. For example: This is a backslash: \.*

In [24]:
print('This is a backslash: \\')

This is a backslash: \

<h1>7. Combining Text and Numbers:</h1>
Print your age alongside a descriptive message. For example: 'I am 20 years old'.

In [26]:
print('I am 20 years old')

I am 20 years old

*Print a number and a string together. For example: 'The number is 5'.*

In [28]:
print('The number is 5')

The number is 5

<h1>8. Basic Loop for Printing:</h1>
Print the numbers 1 to 5, each on a new line using separate print statements.

In [30]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5